<!-- <link rel ="stylesheet" type="text/css" href= "//fonts.googleapis.com/css?family=Transpond"> -->
<link rel ="stylesheet" type="text/css" href= "//fonts.googleapis.com/css?family=Ultra">
<div id="message">
  <div class="col-sm-12">
    <div class="card" id="topcontact">
      <div class="card-body">
        <h5 class="card-title" id="topcontacttitle" >Contact Lee Cotten</h5>
        <!-- <p class="card-text" id="topcontact">Email: LeeCotten@gmail.com</p> -->
      </div>
      <div class="row" id="contactrow">
      <div class="col-sm-3">
        <div class="card" id="destinationscard">
          <div class="card-body" id="body1">
            <h5 class="card-title" style="text-align:center">Email: CRVDSLC@gmail.com </h5>
            <p class="card-text" id="serviceListCard"></p>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card" id="destinationscard">
          <div class="card-body" id="body1">
            <h5 class="card-title" style="text-align:center">Cell Phone: 208-941-2545</h5>
            <p class="card-text" id="serviceListCard"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
