
#topcontact{
  height:750px;
  width:auto;
  padding-top:20px;
  /* text-align:center; */
   background: url("../../assets/pictures/truckTrailer.jpg") no-repeat center center;
   background-color:#B4B7BA;
   background-size:100%;
   padding-left:5%;
}
#topcontacttitle{
  font-family: 'Ultra';
  font-size:55px;
}
#topcontacttext{
  font-family: 'Ultra';
  font-size:35px;
}
#contactrow{

  /* top:50%;
  position:absolute;
  left:50%; */
  /* position:absolute; */

}
