<link rel ="stylesheet" type="text/css" href= "//fonts.googleapis.com/css?family=Ultra">

<nav id="mainNav" class="navbar navbar-fixed-top navbar-toggleable-sm navbar-light flex-column">
    <button class="navbar-toggler navbar-toggler-right" id="navToggle" type="button" data-toggle="collapse" data-target="#collapsingNavbar" (click)="navClick()">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a [routerLink]="['/home']" id="leftNav"  class="navbar-brand"><img src="../assets/pictures/logo.png" id= "logo">
      <span class="full-text">Curbside RV Delivery Service</span>
      <span class="short-text">CRVDS</span>
    </a>
    <div class="navbar-collapse collapse flex-column" id="collapsingNavbar" >
        <ul class="navbar-nav navbar-left" id="navLinks">
            <li class="nav-item">
                <a [routerLinkActive]="['active']" [routerLink]="['/home']" class="nav-link">Home <span class="sr-only">Home</span></a>
            </li>
            <li class="nav-item">
                <a [routerLinkActive]="['active']" [routerLink]="['/services']" class="nav-link">Services <span class="sr-only">Services</span></a>
            </li>
            <li class="nav-item">
                <a [routerLinkActive]="['active']" [routerLink]="['/contact']"class="nav-link">Contact </a>
            </li>
            <li class="nav-item">
                <a [routerLinkActive]="['active']" [routerLink]="['/gallery']"class="nav-link">Gallery</a>
            </li>
        </ul>
        <!-- <ul id="socialMedia" class="nav navbar-nav">
           <li><a href="#"><i class="fa fa-camera-retro fa-lg"></i></a></li>
           <li><a href="#"><i class="fa fa-twitter fa-lg"></i></a></li>
           <li><a href="#"><i class="fa fa-pinterest fa-lg"></i></a></li>
         </ul> -->
    </div>
</nav>
<router-outlet></router-outlet>
