
.navbar-custom {
     /* background-color: #0d98ba;  */
    /* background-image: url("../assets/pictures/rwbribbon.jpg"); */
}
.navbar-brand{
  font-size:34px;
  font-weight:bold;
  margin-right:5%;
}

#navLinks{
display:table;
}
@media(max-width:768px){
  #navLinks{
  display:flex;
  }
}

.nav-item{
/* font-weight:bold; */
font-family:'Ultra';
font-size:32px;
display:table-cell;
text-align:center;

}

#collapsingNavbar{
  border-top: solid black 2px;
  background-color:#F5F5F5;
}
#leftNav{
  font-family:'Ultra';
  font-size:65px;
  text-shadow: 4px 4px 4px #aaa;
  margin:auto;
}
@media(max-width:768px){
  #leftNav{

  }
}
/* #socialMedia{
}

#socialMedia li{
  margin-top:15px;
  margin-right:20px;
  margin-left:20px;
} */

#mainNav{
  background-color: #F5F5F5;
  margin-bottom:0;
  padding-bottom:0;
}

#logo{
  margin-right:10px;
  /* max-width:100%; */
  width:300px;
  height:auto;

}

.short-text{
  display:none;
}
.full-text{
  text-shadow: 5px 5px #aaa;
}
@media(max-width:768px){
  .short-text{
    /* display: inline-block; */
    display:flex;
    letter-spacing:10px;
    text-shadow: 5px 5px #aaa;
  }
  .full-text{
    display:none;
  }
}
