<!-- <div id=safetyCheck>
  <h4>Our Services include:</h4>
    <p>Safety Check:</p>
      <ol>
        <li>Check tire pressure.</li>
        <li>Inspect tires for weather checking and date of manufacture.</li>
        <li>Visual inspection of condition of trailer</li>
        <li>Video walk around to insure greatest care is taken of your RV.</li>
        <li>Check trailer lighting.</li>
        <li>Check trailer breaks to insure they are functioning</li>
      </ol>
</div> -->

<div class="col-sm-12" id="container">
  <div class="card" id ="servicecard" >
    <div class="card-body" id="cardbody" >
      <h5 class="card-title" style="text-align:center" >Standard Services include:</h5>
      <!-- <p class="card-text" id="comment1"> Safety Check: -->
      <ol style="padding-left:35%">
            <li>Check tire pressure</li>
            <li>Inspect tires for weathering and date of manufacture</li>
            <li>Visual inspection of the condition of trailer</li>
            <li>Video walk around to insure greatest care is taken with your RV</li>
            <li>Check trailer lighting</li>
            <li>Check trailer breaks to insure they are functioning</li>
</ol>
    </div>
  </div>
</div>
