

#quote{
  position:absolute;
  text-align:center;
  font-family:Ultra;
  font-size:35px;
  background-color:white;
  margin-top:2%;

}
#message{
  margin-top:25px;
  margin-bottom:25px;
   /* background: url("../assets/pictures/curveForest.jpg"); */
   /* background: url("/assets/pictures/curveForest.jpeg"); */
}
#innerMessage{
  text-align:center;
  /* margin-left:auto;
  margin-right:auto; */
}
#cards{
  margin-left:auto;
  margin-right:auto;
}
.card{
  text-align:center;
  margin:20px;
}
.card-body{
  margin-top:10px;
  margin-bottom:10px;
}
#serviceListCard{
  text-align:left;
  margin-left:5%;
}

#card1{
   background: url("/assets/pictures/curveForest.jpeg") no-repeat center;
   background-size: cover;

}
#comment1{
color:#9acd32;
}
#cardTitle1{
  color:#9acd32;
}
#message{
background-color:#B4B7BA;
margin-top:0;

border-color:#B4B7BA;
}
#card2{
    margin-top:0;
     background: url("/assets/pictures/flippedRibbon.jpg") ,url("/assets/pictures/rwbribbon.jpg");
      background-position: left, right;
      background-repeat: no-repeat, no-repeat;
     background-size: 20%;
     background-color:white;
     padding-top:20;
     border-color:#B4B7BA;
     border-top-width:25px;

}
.card-title{
  /* font-family:'Ultra';
  font-size:30px; */
}
#comment2{
  margin-right:20%;
  margin-left:20%;

}
#transportercard{
border-color:black;
border-width:1px;
}
#destinationscard{
  border-color:black;
  border-width:1.5px;
}
#body2{
  /* display:flex; */
}
#map{
  width:80%;
  padding-left:15%;
}
#transporter{
  width:75%;
  height:75%;
  padding-bottom:10px;
}
.d-block{
  max-width:100%;
  max-height:100%;
}
