<link rel ="stylesheet" type="text/css" href= "//fonts.googleapis.com/css?family=Ultra">
<!-- <h4 id="quote">"Camping is one of the most exciting outdoor activities, so let us help you take the stress off."</h4> -->
<div id="message">
  <!-- <div id="innerMessage">
    <h4 class="display-3" style=""></h4>
    <p class="lead" style="font-size:25px">"Camping is one of the most exciting outdoor activities, so let us help you take the stress off."</p>
  </div> -->

  <div class="col-sm-12">
    <div class="card" id ="card2">
      <div class="card-body">
        <h5 class="card-title">Mission!</h5>
        <p class="card-text" id="comment2">"We are here to provide great services to our clients to take the stress and hassle out of camper management.
        Guaranteed to reduce heated conversation while backing the trailer into position."</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card" id="destinationscard">
        <div class="card-body" id="body1">
          <h5 class="card-title">Destinations</h5>
          <p class="card-text" id="serviceListCard">
            <img id="map" src="../../assets/pictures/Map.png">
          </p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card" id="transportercard">
        <div class="card-body" id="body2">
          <h5 class="card-title">The Transporter</h5>
          <p class="card-text" id="serviceListCard">
            <img id="transporter" src="../../assets/pictures/transporter.jpg">
            <li>24/7 Service</li>
            <li>Licensed and Insured</li>
            <li>Private and Commericial</li>
            <li>Emergency Service</li>
            <li>Locally Owned/Operated</li>
          </p>
          <a class="btn btn-primary"[routerLink]="['/contact']">Be Transported</a>
        </div>
      </div>
    </div>
  </div>
    <div class="col-sm-12">
      <div class="card" id= "card1" >
        <div class="card-body" >
          <h5 class="card-title " id="cardTitle1" class="display-3" style="font-size:55px" >Thanks for stopping by!</h5>
          <p class="lead" id="comment1" style="font-size:25px">"Camping is one of the most exciting outdoor activities, so let us help you take the stress off."</p>
        </div>
      </div>
    </div>

  <!-- <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div> -->

</div>
